
nav{
    width: 100vw;
    height: 8vh;    
    background-color: #ff9100;
    /* position: fixed; */
    /* padding-top: 3%; */
    margin-top: 2%;
}
#adv{
    height: 50vh;
    width:20vw;
    border: solid 2px black;
    border-radius: 7%;
    background-color: #a1a1a1;
    box-shadow: 5px 10px black;
}
#last{
  margin:2%;
}
p{
    text-align: center;
    border: 1px solid black;
    /* width: 7vw; */
    background-color: #ff9100;
    margin: 2%;

}
#Grid{
    margin-top: 1.5vh;
   margin-left: 0.7vw;
}
h2{
    text-align: right;
    margin-right: 1.5vw;
}

 
  * {
    padding: 0px;
    margin: 0px;
  }
  
  .css-mhc70k-MuiGrid-root {
    width: 100%;
    position: relative;
    margin: 0px;
    margin-left: 0px;
    background-color: #ff9100;
  }
#form{
    padding: 0px;
    margin: 0px;
   
    margin-top: 16px;
    width: 98%;
    justify-content: space-between;
  }
  #city{
    background-color: #ff9100;
    border: #a1a1a1;
    width: 10vw;
  }
  #cityLabel{
    border: #ff0404;
    width: 10vw;
  }
  #cityDest{
    background-color: #ff9100;
    border: #a1a1a1;
    width: 10vw;
  }
  #cityDestLabel{
    border: #ff0404;
    width: 10vw;
  }
  .date{
    margin-left: 1.5vw;
    background-color: #ff9100;
    height: 5vh;
    width: 8vw;
    border: 0px;
    border-radius: 2%;
  }
 #last{
  width: 8vw;
  height: 5vh;
    background-color: #ff9100;
 }
 #composition-menu{
  width: 8vw;
  color: black;
  background-color: lightgray;
 }
 #bar{
  background-color:gray;
 }
 #input-cities{
  border: #a1a1a1;
  color: #a1a1a1;
 }
 
 .aa{
background-color: #ff9100;
width: 10vw;
border-radius: 6%; 
}
.inputDate{
  color:#a1a1a1;
}

#main{
  background-image:url('../Images/back.png');
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}