#about{
    /* background-color:red; */
    width: 60vw;
    height: 100vh; 
    padding-top:10vh;
    /* background-color: lightgray; */

}
.aboutP{
    /* background-color:white; */
    /* background-color: lightgray; */

    border: none;
    text-align: right;
}
#aboutH1{
    margin-right: 2vw;
}
  .heart{
    background-image:url('../Images/littleHeart.png'); 
    background-repeat: no-repeat;
    position:absolute;
    height: 17vh;
    width:17vw;
    top: 8.5vh;
    left: 4vw;
  }
  #span-c{
    position:absolute;
    top: 22.8vh;
    left: 10.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#ff9100;
  }
  #a-span-c{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#ff9100;
    position: absolute;
    bottom: 0vh;
    right: 11vw;
  }
  .car{
    background-image:url('../Images/littleCar.png'); 
    background-repeat: no-repeat;
    position:absolute;
    height: 30vh;
    width:16.2vw;
    top: 42.5vh;
    left: 4vw;
  }
  #span-c2{
    position:absolute;
    top: 55.8vh;
     /* align-items: center;  */
    left: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#ff9100;
  }
  #a-span-c2{
    position:absolute;
    top:13.1vh;
    left:2.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#ff9100;
  }
  .weelchair{
    background-image:url('../Images/littleWeelChire.jpg'); 
    background-repeat: no-repeat;
    position:absolute;
    height: 21vh;
    width:16vw;
    top: 72vh;
    left: 4.2vw;
  } 
  #a-span-c3{
    position:absolute;
    top:18vh;
    left:1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color:#ff9100;
    width:100%;
    text-align: left;
  }
  #span-c3{
    position:absolute;
    bottom: 7.3vh;
    left: 9.9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 95%; 
    color:#ff9100;
    /* background-color:aqua; */
  } 