body{
  background-color: white;
}
.btnWrap{
  /* background-color: pink; */
  display: flex;
  width:28%;
  justify-content:space-between;
  flex-wrap: wrap;
  float: left;
  padding-top: 2%;
  padding-left: 2%;
  height: 40%;

}
.btns{
  width:45%;
  height: 7vh;
  font-weight: bold;
}
#span-about{
  /* background-color: aqua; */
  padding-top: 2.7%;
}
/* #about{
  text-decoration: none;
  font-style: italic;
  color: black;
  font-weight: bold;
  font-size:1.5em;
}
#about:hover{
  color:#ff9100;
  text-decoration: underline;
} */
.logo{
  background-image:url('../Images/text.JPG'); 
  height: 70vh;
  top:-2vh;
  /* padding-top:%; */
  width:45vw; 
  /* background-color: blue;  */
  /* float: right; */
  /* padding-right:0.2%; */
  position: absolute;
  right:-8vw;
  background-repeat: no-repeat;
  
} 
/* .bottombar{
  display: flex;
  width:90%;
  justify-content:space-between;
  flex-wrap: wrap;
  padding-right:4%;
} */


