.ok-div-Wrap{
    margin-top:2%;
    padding-bottom:5%;
    padding-right: 12%;   
}
.ok{
    height: 3vh;
    width: 5vw;
    padding: 5%;;
    float: right;
}
.signup{
    margin-top: 0.5%;
    background-color:white;
}
.link{
    color:orange;
    font-style: italic;
    cursor: pointer;
}
.name{
    margin: 1.5%;
    margin-right: 14%;
}
.pass{
    margin: 1.5%;
    margin-right: 14%;
}
.login{
    /* background-color: aqua; */
    width: 70%;
    margin-right:30%;
}
.title{
    margin-right: 10%;
}