
.ok-div-Wrap{
    margin-top:2%;
    padding-bottom:5%;
    padding-right: 12%;

    
}
/* #mn{
    background-color: #a1a1a1;
    box-shadow: 5px 5px 5px;
    
} */
.ok{
    height: 3vh;
    width: 5vw;
    padding: 5%;;
    float: right;
}
body{
    background-color: rebeccapurple;
}