.ok-div-Wrap{
 /* background-color: aqua; */
 width: 49.9%;
 display: flex;
 justify-content: center;
}
.ok{
    width:80vw;
    height: 7vh;
    font-weight: bold;
}
.signup{
    margin-top: 0.5%;
    background-color:white;
}
.link{
    color:#ff9100;
    font-style: italic;
    cursor: pointer;
}
.name{
    margin: 1.5%;
    margin-right: 14%;
}
.pass{
    margin: 1.5%;
    margin-right: 14%;
}
.login{
    /* background-color: aqua; */
    width: 70%;
    margin-right:30%;
    margin-top: 7%;
}
.title{
    margin-right: 11vw;
}