.div-wrp{
    /* background-color:pink; */
    /* margin-right:19%; */
    width:80%;
    padding-left: 2%; 
    
}
.div-personal-detailes2{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* background-color:blue; */
    flex-wrap: wrap;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.div-title{
    padding-top: 0.5%;
}
.div-address2{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* background-color:blueviolet; */
    flex-wrap: wrap;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-right: 0.7%;
}
.num{
    width:14%;
}
.okWrap2{ 
    display: flex; 
    flex-direction: row;
    justify-content:end;
    /* background-color:springgreen; */
    flex-wrap: wrap;
    padding-top:2%;
    margin-right: 2.5%;
    width:30%;
}
.formGroup{
    width:60%;
    display: flex;
    justify-content:space-between;
    /* background-color:springgreen;  */
    flex-wrap: wrap;
    padding-right: 0.7%;
 
}
.formGroup2{
    width:37%;
    display: flex;
    justify-content:space-between;
    /* background-color:red;  */
    flex-wrap: wrap;
    padding-right: 0.5%;
}
#vol{
    margin-right:5%;
    /* background-color:aqua; */
}
.ok{
    height: 7vh;
    width: 10vw;
    padding: 5%;;
    float: right;
}
.div-places{
    width: 20%;
    display: flex;
    padding-right: 0.7%;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    /* background-color:red; */
}
.alarmTime{
    /* background-color:red; */
    padding-right: 0.7%;
    padding-top: 0.9%;
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.mail{
    margin-top:1.5%;
}