#heade{
    background-color:gray;
    color: #ff9100;
}
#mui-p-39582-T-1{
    color: red;
}

.tabDetailes{
    direction:rtl;
    margin-right: 29%;
    /* margin-top: 1%; */
    /* background-color: aqua; */
    width:70%
}
