#heade{
    background-color:gray;
    color: #ff9100;
}
#mui-p-39582-T-1{
    color: red;
}
#main{
    background-color: lightgray;
}
.tabDetailes{
    direction:rtl;
    margin-right: 29%;
    /* margin-top: 1%; */
    /* background-color: aqua; */
    width:70%;
}
#b{
    position:fixed;
    background-image: url('../Images/back.png');
    background-repeat: no-repeat;
}

#backToManage{
    background-image: url('../Images/home.JPG');
    background-repeat: no-repeat;
    height: 14vh;
    width: 6vw;
    margin: 1vh;
    cursor: pointer;
    position: fixed ;
    right:2vw;
}

body{
    background-color: lightgray;
}