body{
    background-color: white;
    direction: rtl;
}
#cardcss{
    background-image:url('../../Images/orangcar.png');
    /* box-shadow: 5px 5px 5px 5px; */
    margin: 3%;
    height: 50vh;
    display: inline-block;
    width: 20vw;
    position: relative;
    right: 8vw;

background-color: lightgray;

}
#listOfItems{
    height: 20vh;
}
.headercss{ 
    box-shadow: 5px 5px 5px  black;

    font-size: 3vh;   
height: 5vh;
text-align: center;
background-color: gray;
}
.secondLine{    
    box-shadow: 5px 5px 5px  black;
font-weight: bolder;
width: 6vw;
    background-color: gray;
    }
h1{
    font-size: xx-large;
    color: grey;
    margin-right: 14%;

}
#cardcss:hover,#headercss:hover{
    background-color: #ff9100;}
#ll{
    top:-2vh;
background-color: grey;
color: #ff9100;
right: 4vw;

    box-shadow: 5px 5px 5px  black;
}
#GridCss{
    top: 1vh;
    line-height: 7vh;
    color: grey;
    position: relative;
}